<p>Hello <%= @user.first_name %>,</p>

<p>You've got an comment for your discussion titled: <%= @discussion.title %></p>

<p>The comment is: <%= @comment.body %></p>

<p>Regards,</p>
<p>Project Manager</p>